@import 'normalize';
@include normalize();
@import 'palette';
@import 'typography';
@import 'nav';
@import 'view';

* {
  box-sizing: border-box;
};

body,
html,
main {
  height: 100%;
  width: 100%;
};

#chm-view {
  @include palette('primary');
  @include font(bold);
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 46px;
  vertical-align: middle;
  padding: 15px;
  > span {
    margin-right: 0.2em;
  }
}
